<h1>LOGUEARSE</h1>
<form method="post" action="/api/users/login">
Email: <input type="text" name="email" id="email"/></br></br>
Contraseña: <input type="text" name="password" id="password"/></br></br>
<input type="submit" label="INGRESAR"/>
</form>
</br></br>
<p>Aun no esats registrado?</p>
<button onClick="location.href=`/register`">REGISTRARSE</button>