<h1>REGISTRARSE</h1>
<form method="post" action="/api/users/register">
Nombre:<input type="text" name="first_name" id="firstName"/></br></br>
Apellido: <input type="text" name="last_name" id="lastName"/></br></br>
Email: <input type="text" name="email" id="email"/></br></br>
Edad: <input type="number" name="age" id="age"/></br></br>
Contraseña: <input type="password" name="password" id="password"/></br></br>
<input type="submit" label="REGISTRAR"/>
</form>a