<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coderhouse - Backend</title>
</head>
<body>
    <h1>Coderhouse</h1>
    <h2>Backend</h2>
    <h3>Segundo Modulo: Preentrega 02  </h3>
    {{{body}}}
</body>

</html>